<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>

<form  th:method="PATCH" th:action="@{/{id}(id=${person.getId()})}" th:object="${person}">
    <label for="name">Введите имя: </label>
    <input type="text" th:field="*{name}" id="name"/>

    <br/>
    <label for="lastName">Введите фамилию: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>

    <br/>
    <label for="email">Введите email: </label>
    <input type="text" th:field="*{email}" id="email"/>

    <br/>
    <input type="submit" value="Обновить!"/>
</form>

</body>
</html>